server:
  port: 8082

spring:
  application:
    name: data-router
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: data-router-group
      auto-offset-reset: earliest
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
  redis:
    host: localhost
    port: 6379
    timeout: 2000ms

logging:
  level:
    com.alyx.datarouter: DEBUG